@font-face { font-family: Gotham; font-weight: normal; src: url('assets/gotham-bold.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('assets/gotham-ultra.otf'); }

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

@media only screen and (max-width: 600px) {
  canvas {
    display: block;
    width: 100%;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

canvas {
  display: inline-block;
  width: 50%;
  margin-right: 6px;
}

.banner {
  display: flex;
  background-color: #121212;
  padding: 16px 18px;
}

.banner div {
  justify-content: space-around;
  flex: 1;

  font-family: Gotham, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  text-transform: uppercase;
}

.banner span {
  color: rgba(255, 255, 255);
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}

.banner-block {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 20px;
  margin: 0 -10px;
}

.banner-block p {
  margin: 0 10px;
}

#title,
#scroll,
#config,
.active {
  color: white;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.controls p {
  cursor: pointer;
  font-size: 16px;
}

#simulation-config {
  background-color: #212121;
}

#simulation-stat-primary {
  font-size: 16px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
}

#simulation-stat-secondary {
  font-size: 14px;
  font-weight: 500;
}

#title {
  font-size: 18px;
  font-weight: 700;
}

.banner div:first-child {
  justify-content: flex-start;
}
.banner div:nth-child(2) {
  justify-content: center;
}
.banner div:last-child {
  justify-content: flex-end;
}

.banner div:first-child { text-align: left; }
.banner div:nth-child(2) { text-align: center; }
.banner div:last-child { text-align: right; }
