@font-face { font-family: Gotham; font-weight: normal; src: url('assets/gotham-bold.otf'); }
@font-face { font-family: Gotham; font-weight: bold; src: url('assets/gotham-ultra.otf'); }

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

canvas {
  display: inline-block;
  width: 50%;
}

canvas:first-of-type {
  margin-right: 4px;
}

@media only screen and (max-width: 600px) {

  canvas {
    display: block;
    width: 100%;
    height: 50%;
    margin-bottom: 0px;
  }

  canvas:first-of-type {
    margin-right: 0px;
    margin-bottom: 2px;
  }

}

@media screen and (max-width : 1920px) {

  #mini-navigation {
    display: none;
  }

  #config-popover {
    width: 360px;
    right: 0;
  }

}

@media only screen and (max-width: 1000px) {

  #navigation {
    display: none;
  }

  #mini-navigation {
    display: flex;
  }

  #config-section {
    font-size: 12px;
  }

}

@media only screen and (max-width: 600px) {

  #config-popover {
    width: 100%;
  }

}

#config-popover {
  position: absolute;
  bottom: 0;
  background-color: rgba(36, 36, 36, 1);
  padding: 14px 18px 0px 18px;
  margin-bottom: 52px;
  text-transform: uppercase;
  visibility: hidden;
}

.config-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Gotham, Helvetica, sans-serif;
  font-style: normal;
  height: 30px;
}

.config-title {
  color: rgba(255, 255, 255, 0.5);
}

#config-header {
  color: rgba(255, 255, 255, 0.8);
}

#config-save {
  cursor: pointer;
  user-select: none;
  color: rgba(255, 255, 255, 1.0);
}

#config-save:hover {
  color: rgba(255, 255, 255, 0.7);
}

.config-input {
  color: rgba(255, 255, 255, 0.9);

  padding-left: 10px;
  margin: 0px;
  border: 0px;
  padding-right: 0px;
  width: 100px;

  font-size: 16px;
  font-family: Gotham, Helvetica, sans-serif;
  text-align: right;

  background-color:rgba(255, 255, 255, 0.0);
}

input:focus {
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.banner {
  display: flex;
  background-color: #121212;
  padding: 16px 18px;
  justify-content: space-between;
}

.banner div {
  flex: 1;

  font-family: Gotham, Helvetica, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);

  text-transform: uppercase;
}

.banner span {
  color: rgba(255, 255, 255);
  padding-bottom: 2px;
  border-bottom: 2px solid white;
}

.banner-block {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 20px;
  margin: 0 -10px;
}

.banner-block p {
  margin: 0 10px;
}

#title,
#scroll,
#config,
.active {
  color: white;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.controls p {
  cursor: pointer;
  font-size: 16px;
}

#title {
  font-size: 18px;
  font-weight: 700;
}

.banner div:first-child {
  justify-content: flex-start;
}
.banner div:nth-child(2) {
  justify-content: center;
}
.banner div:last-child {
  justify-content: flex-end;
}

.banner div:first-child { text-align: left; }
.banner div:nth-child(2) { text-align: center; }
.banner div:last-child { text-align: right; }
